<%- include('../head.ejs') %>
    <!-- / Navbar -->

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <!-- <h4 class="py-3 mb-4"><span class="text-muted fw-light">Category/</span>Create</h4> -->

            <!-- Basic Layout & Basic with Icons -->
            <div class="row">
                <!-- Basic Layout -->
                <form method="post" action="/api/product" enctype="multipart/form-data">
                    <div class="col-xxl">
                        <div class="card mb-4">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">Tạo sản phẩm </h5>
                                <!-- <small class="text-muted float-end">Default label</small> -->
                            </div>
                            <% if (message) { %>
                                <%- message %>
                            <% } %>
                            <div class="card-body">
                                <form enctype="multipart/form-data"> 
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="basic-default-name">Ảnh</label>
                                        <div class="col-sm-10">
                                            <input type="file" class="form-control"
                                             name="files" accept="image/*" multiple required />
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="basic-default-name">Tên</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="basic-default-name"
                                             name="name" required   placeholder="Tên" />
                                        </div>
                                    </div>
                                    
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="basic-default-name">Danh mục</label>
                                        <div class="col-sm-10">
                                            <select class="form-select" id="exampleFormControlSelect1" name="cate_id" >
                                                <% for (const item of category) { %>
                                                    <option value="<%= item._id %>" ><%= item.name %></option>
                                                <% } %>
                                              </select>
                                        </div>
                                    </div>
                                    

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="basic-default-name">Số lượng</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" id="basic-default-name"
                                             name="quantity" required   placeholder="Số lượng" value="0" />
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="basic-default-name">Giá</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" id="basic-default-name"
                                             name="price" required   placeholder="Giá" value="0" />
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="basic-default-name">Mô tả</label>
                                        <div class="col-sm-10">
                                             <textarea id="articleContent" class="form-control" name="description"></textarea>
                                        </div>
                                    </div>
                                    
                                    <div class="row justify-content-end">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary">Create</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        <!-- / Content -->

        <div class="content-backdrop fade"></div>
    </div>
    <!-- Content wrapper -->

    <%- include('../footer.ejs') %>